.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin:0;
  height:100%;
  padding-top: 70px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  position:relative;
  bottom:0;
  height:40px;   /* Height of the footer */
  width: 100%;
  color: #777;

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width:80%;
    min-height:100%;
    position:relative;
  }

  .mainContainer{
    height: 100%;
    margin-bottom: 20px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.profile-image{
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto
}
.profile-shortInfo{
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
}
.bio-info{
  margin-top: 20px;
  font-family: Calibri;
  font-size: 15px
}
.bio-social-icon{
  width:50%;
  margin: 0 auto;
}
.bio-social-icon ul{
  list-style-type: none;
  margin-left: -15px;
}
.bio-social-icon ul li{
  display: inline;
}
#collision-window{
  width: 960px;
  height: 500px;
  top: 0;
  left: 0;
}
#collision-window .intro-message{
  position: fixed;
  top:40%;
  left: 41%;
  font-family: Calibri;
  color: #0f0f0f;
  opacity: 0.7;
}
#collision-window .intro-message-detail{
  position: fixed;
  top:50%;
  left: 41%;
  font-size: 15px;
  font-family: Calibri;
  color: #0f0f0f;
  opacity: 0.7;
}


