
<body>

  <div class="container">
    <div class="jumbotron">
      <form id="playform">
        <div class="form-group">
          <label for="manifest">DASH Manifest:</label>
          <input type="text" class="form-control" id="manifest" name="manifest">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Play!</button><br><br>
        <button type="button" id="demo" class="btn btn-info btn-sm">Load Demo Manifest</button>
      </form>
    </div>

    <div class="jumbotron">
      <video id="video"
             width="600"
             height="300"
             poster="//shaka-player-demo.appspot.com/assets/poster.jpg"
             controls autoplay/></video>
    </div>

    <script>
      function initApp() {
        // Install built-in polyfills to patch browser incompatibilities.
        shaka.polyfill.installAll();
      
        // Check to see if the browser supports the basic APIs Shaka needs.
        if (shaka.Player.isBrowserSupported()) {
          // Everything looks good!
          initPlayer();
        } else {
          // This browser does not have the minimum set of APIs we need.
          console.error('Browser not supported!');
        }
      }
      
      function initPlayer() {
        // Create a Player instance.
        var video = document.getElementById('video');
        var player = new shaka.Player(video);
      
        // Attach player to the window to make it easy to access in the JS console.
        window.player = player;
      
        // Listen for error events.
        player.addEventListener('error', onErrorEvent);

        $( "#playform" ).submit(function( event ) {
          // Try to load a manifest.
          // This is an asynchronous process.
          player.load( $( "#manifest" ).val() ).then(function() {
            // This runs if the asynchronous load is successful.
            console.log('The video has now been loaded!');
          }).catch(onError);  // onError is executed if the asynchronous load fails.
          event.preventDefault();
        });

        $( "#demo" ).click(function() {
          $( "#manifest" ).val("http://rdmedia.bbc.co.uk/dash/ondemand/testcard/1/client_manifest-events.mpd");
          $( "#playform" ).submit();
        });
      }
      
      function onErrorEvent(event) {
        // Extract the shaka.util.Error object from the event.
        onError(event.detail);
      }
      
      function onError(error) {
        // Log the error.
        console.error('Error code', error.code, 'object', error);
      }
      
      document.addEventListener('DOMContentLoaded', initApp);

      
    </script>

    <div class="jumbotron">
      <p>This player is The Shaka Player.<br><a href="https://github.com/google/shaka-player">More details can be found here.</a></p>
    </div>

    <script type='text/javascript'>

    </script>

    <footer class="footer">
      <p>&copy; Phil Cluff &amp; <a href="https://github.com/GeneticGenesis/phils-players#authors"> The Authors</a> 2017.</p>
    </footer>

  </div>

</body>

