<div class="wrapper">
  <div class="sidebar-wrapper">
    <div class="profile-container">
      <img class="profile" src="/images/profile_li_cicle.png" alt="" width="150" height="150"  />
      <h2 class="name">Xiangbo (Bill) Li</h2>
      <h3 class="tagline">Developer &#xb7 Researcher</h3>
    </div><!--//profile-container-->

    <div class="contact-container container-block">
      <ul class="list-unstyled contact-list">
        <li class="email"><i class="fa fa-envelope"></i><a href="mailto: xiangbo.lee@gmail.com">xiangbo.lee@gmail.com</a></li>
        <li class="website"><i class="fa fa-globe"></i><a href="http://myresearches.org" target="_blank">myresearches.org</a></li>
        <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/xiangbo-li-2893582a" target="_blank">linkedin.com/xiangbo.li</a></li>
        <li class="github"><i class="fa fa-github"></i><a href="https://github.com/lxb200709" target="_blank">github.com/lxb200709</a></li>
      </ul>
    </div><!--//contact-container-->
    <div class="short-border-line"></div>

    <!--<div class="education-container container-block">
      <h2 class="container-block-title">Education</h2>
      <div class="item">
        <h4 class="degree">MSc in Computer Science</h4>
        <h5 class="meta">University of London</h5>
        <div class="time">2011 - 2012</div>
      </div>&lt;!&ndash;//item&ndash;&gt;
      <div class="item">
        <h4 class="degree">BSc in Applied Mathematics</h4>
        <h5 class="meta">Bristol University</h5>
        <div class="time">2007 - 2011</div>
      </div>&lt;!&ndash;//item&ndash;&gt;
    </div>&lt;!&ndash;//education-container&ndash;&gt;
    <div class="short-border-line"></div>-->

    <div class="languages-container container-block">
      <h2 class="container-block-title">Languages</h2>
      <ul class="list-unstyled interests-list">
        <li>Chinese <span class="lang-desc">(Native)</span></li>
        <li>English <span class="lang-desc">(Professional)</span></li>
      </ul>
    </div><!--//interests-->
    <div class="short-border-line"></div>


    <div class="interests-container container-block">
      <h2 class="container-block-title">Interests</h2>
      <ul class="list-unstyled interests-list">
        <li>Climbing</li>
        <li>Snowboarding</li>
        <li>Cooking</li>
      </ul>
    </div><!--//interests-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

    <section class="section summary-section">
      <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
      <div class="summary">

        <h5>TECHNICAL SPECIALIZATIONS:</h5>
        <ul>
          <li>Video Encoding / Transcoding</li>
          <li>Cloud Computing</li>
          <li>Web Application Development</li>
          <li>Android Development</li>
        </ul>
        <h5>SKILLS & BACKGROUNDS:</h5>
        <ul>
          <li>Proficient in C/C++, Java, and Multithread</li>
          <li>Experience with Python, Bash, and JavaScript</li>
          <li>Strong background on MPEG-2, H.264/AVC and HEVC</li>
          <li>Familiar with streaming protocols and DRM</li>
          <li>Experience with Amazon AWS cloud services</li>
          <li>Fluency on Linux, Windows, and Mac</li>
          <li>Self motivated, good communication and leadership skill</li>
        </ul>
          <p> You can <a href="#" target="_blank">download my complete CV here</a>.</p>
      </div><!--//summary-->
    </section><!--//section-->

    <div class="border-line"></div>


    <section class="section summary-section">
      <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Ph.D. in Computer Engineering</h3>
            <div class="time">06.2013 - 12.2016</div>
          </div><!--//upper-row-->
          <div class="company">University of Louisiana at Lafayette</div>
        </div><!--//meta-->
        <div class="details">
            <p>Dissertation: <span style="font-style: italic"> High Performance On-Demand Video Transcoding Using Cloud Services</span> </p>
        </div><!--//details-->
      </div><!--//item-->

      </br>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">MS in Computer Engineering</h3>
            <div class="time">08.2011 - 05.2013</div>
          </div><!--//upper-row-->
          <div class="company">University of Louisiana at Lafayette</div>
        </div><!--//meta-->
        <div class="thesis">
          <p>GPA: <span style="font-style: italic">4.0 / 4.0</span> </p>
        </div><!--//details-->
      </div><!--//item-->

      </br>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">BS in Electrical Engineering</h3>
            <div class="time">09.2007 - 06.2011</div>
          </div><!--//upper-row-->
          <div class="company">China Jiliang University</div>
        </div><!--//meta-->
        <div class="thesis">
          <p>GPA: <span style="font-style: italic">3.59 / 4.0</span> </p>
        </div><!--//details-->
      </div><!--//item-->
    </section><!--//section-->

    <div class="border-line"></div>

    <section class="section experiences-section">
      <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Consultant</h3>
            <div class="time">01.2016 - Present</div>
          </div><!--//upper-row-->
          <div class="company">CGI Group Inc, Lafayette</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Developed a web application front-end using AngularJS to create, modify and search label documents.</li>
            <li>Implemented an OCR image processing RESTful service to extract specific contents from pesticide labels.</li>
            <li>Developed an android app to capture, search and validate pesticide label documents.</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Research Assistant</h3>
            <div class="time">01.2014 - 12.2016</div>
          </div><!--//upper-row-->
          <div class="company">The Center for Advanced Computer Studies, University of Louisiana at Lafayette, USA</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><span style="font-weight: bold">Cloud-Based On-Demand Video Transcoding Using Cloud Services</span> <span style="font-style: italic">, HPCC Lab</span>
              <ul>
                <li>Managed an interdisciplinary team to design and implement a cloud-based video streaming service (CVSS) architecture aimed at reducing cloud resource cost for streaming service providers by
                  transcoding video streams in an on-demand manner.</li>
                <li>Improved cloud-based video transcoding utilization efficiency by analyzing the performance affinities of different transcoding operations with heterogeneous VMs and modeling a suitability matrix (SM) based on cost performance trade-off of heterogeneous VMs.</li>
                <li>Developed an open source project on GitHub to generate metadata (e.g. GOP transcoding time, frame number, size, etc.) while transcoding videos using FFmpeg on different Amazon EC2 instances.</li>
              </ul>
            </li>
            </br>
            <li><span style="font-weight: bold">Hybrid Wavelet-DCT Intra Prediction for MPEG-2 to H.264/AVC Transcoder</span> <span style="font-style: italic">, VLSI Lab</span>
              <ul>
                <li>Improved the transcoding efficiency by implementing a Haar wavelet to predict the intra mode while
                  converting video codec from MPEG-2 to H.264/AVC.</li>
                </ul>
            </li>
            </br>
            <li><span style="font-weight: bold">Multiprogramming Process Management for Operating System</span> <span style="font-style: italic">, OS Course Project</span>
              <ul>
                <li>Efficiently managed virtual memory for multiprogramming by implementing synchronization and
                  page replacement algorithms in the Nachos operating system.
                </li>
              </ul>
            </li>

          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Sponsorship Coordinator</h3>
            <div class="time">01.2015 - 03.2016</div>
          </div><!--//upper-row-->
          <div class="company">TEDxVermilionStreet, Lafayette</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Coordinated with a multidisciplinary team to initiate a TED Talk event in Lafayette, Louisiana.</li>
            <li>Engaged more than 20 local businesses to sponsor the event in the first year.</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Teaching Assistant</h3>
            <div class="time">08.2011 - 12.2013</div>
          </div><!--//upper-row-->
          <div class="company">The Center for Advanced Computer Studies, University of Louisiana at Lafayette, USA</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Instructed the EECE140 lab section, taught 60 students using breadboards and Multisim simulation tool.</li>
            <li>Graded CSCE518 data compression assignments.</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

    </section><!--//section-->

    <div class="border-line"></div>

    <!--<section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
      <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
      </div>&lt;!&ndash;//intro&ndash;&gt;
      <div class="item">
        <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

      </div>&lt;!&ndash;//item&ndash;&gt;
      <div class="item">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
      </div>&lt;!&ndash;//item&ndash;&gt;
      <div class="item">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
      </div>&lt;!&ndash;//item&ndash;&gt;
      <div class="item">
        <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
      </div>&lt;!&ndash;//item&ndash;&gt;
      <div class="item">
        <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
      </div>&lt;!&ndash;//item&ndash;&gt;
    </section>&lt;!&ndash;//section&ndash;&gt;

    <div class="border-line"></div>-->


    <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-trophy"></i>Honors &amp; Awards</h2>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Best Presentation Award</h3>
            <div class="time">10.2016</div>
          </div><!--//upper-row-->
          <div class="company">The School of Computing and Informatics, University of Louisiana at Lafayette</div>
        </div><!--//meta-->

      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">2nd Award for Research Accomplishment</h3>
            <div class="time">10.2016</div>
          </div><!--//upper-row-->
          <div class="company">The School of Computing and Informatics, University of Louisiana at Lafayette</div>
        </div><!--//meta-->

      </div><!--//item-->


      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Goodwill Ambassador of Lafayette</h3>
            <div class="time">04.2016</div>
          </div><!--//upper-row-->
          <div class="company">Lafayette Consolidated Government, LA</div>
        </div><!--//meta-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Certification of Achievement for Academic Excellence</h3>
            <div class="time">05.2014</div>
          </div><!--//upper-row-->
          <div class="company">University of Louisiana at Lafayette, LA</div>
        </div><!--//meta-->

      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">The First Place</h3>
            <div class="time">03.2010</div>
          </div><!--//upper-row-->
          <div class="company">China National Undergraduate Electronic Information Practice and Innovation Works, China</div>
        </div><!--//meta-->

      </div><!--//item-->

    </section><!--//section-->

    <div class="border-line"></div>


    <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-trophy"></i>PROFESSIONAL &amp; VOLUNTEER SERVICES</h2>
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Director Assistant of Lafayette International Center</h3>
            <div class="time">09.2016</div>
          </div><!--//upper-row-->
          <div class="company">Beautiful China Exhibition and Dinner hosted by Chinese National Tourism Administration, Houston, TX</div>
        </div><!--//meta-->

      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Sponsorship Coordinator </h3>
            <div class="time">01.2015-03/2016</div>
          </div><!--//upper-row-->
          <div class="company">TEDxV ermilionStreet, Lafayette, LA</div>
        </div><!--//meta-->

      </div><!--//item-->


      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">President</h3>
            <div class="time">01.2014-12.2014</div>
          </div><!--//upper-row-->
          <div class="company">Chinese Students & Scholars Association at University of Louisiana at Lafayette, Lafayette, LA</div>
        </div><!--//meta-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Director of “Small Apple Flash Mob in Louisiana” </h3>
            <div class="time">07.2014</div>
          </div><!--//upper-row-->
          <div class="company">Marketing Louisiana tourism, 2 million views in China</div>
        </div><!--//meta-->

      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Vice President </h3>
            <div class="time">01.2013-05/2014</div>
          </div><!--//upper-row-->
          <div class="company">IEEE-CS Student Chapter, University of Louisiana at Lafayette, Lafayette, LA</div>
        </div><!--//meta-->

      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Conference Secretary</h3>
            <div class="time">09.2011-09/2012</div>
          </div><!--//upper-row-->
          <div class="company">International Conference on New Theories, Discoveries and Applications of Superconductors (New3SC-9), Rome, Italy</div>
        </div><!--//meta-->

      </div><!--//item-->

    </section><!--//section-->

    <div class="border-line"></div>

    <section class="skills-section section">
      <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

      <div class="skillset">
        <div class="item">
          <h3 class="level-title">C/C++</h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="skillset">
          <div class="item">
            <h3 class="level-title">Java</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="90%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">Python</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="60%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">JavaScript &amp; TypeScript</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="70%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">SQL</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="50%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="80%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">Verilog &amp; VHDL</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="50%">
              </div>
            </div><!--//level-bar-->
          </div><!--//item-->

          <div class="item">
            <h3 class="level-title">Assembly</h3>
            <div class="level-bar">
              <div class="level-bar-inner" data-level="50%">
              </div>
            </div><!--//level-bar-->
         </div><!--//item-->
      </div>
      </div>
    </section><!--//skills-section-->

  </div><!--//main-body-->
</div>

