<div class="row">
 
  <div id="chart">
  <div id="collision-window">
   <!--  <h1 class="intro-message">MyResearches</h1>
    <p class="intro-message-detail">A place to share my research works</p> -->
    <d3-collision></d3-collision>
  </div>
</div>

  <!--<div class="col-sm-8 col-lg-8">
    <h1 style="font-family: Calibri; margin: 0px auto">Bio</h1>
    <p class="bio-info">
      Xiangbo (Bill) Li is currently working as a consultant at CGI Group Inc. He received his B.S. degree in Electrical Engineering from China Jiliang University
      in 2011, and Master degree in Computer Engineering from University of Louisiana at Lafayette
      in 2013. He completed the requirements for this Doctor of Philosophy in Computer Engineering
      from the University of Louisiana at Lafayette in Fall 2016. </p>
    <p class="bio-info">His research interests are:</p>
    <ul class="bio-info">
      <li>Video Encoding/Transcoding</li>
      <li>Cloud Computing</li>
      <li>Web Application Development</li>
      <li>Android Development</li>
    </ul>
    <p class="bio-info">Li was also the president of Chinese Students & Scholars Association (CSSA), vice president of IEEE CS Student
      Organization, and sponsorship manager of TEDxVermilionStreet.</p>
  </div>

  <div class="col-sm-4 col-lg-4">

    <img src="images/profile_li.jpg" class="img-thumbnail profile-image" alt="Cinque Terre" width="200" height="237">
    <div class="profile-shortInfo">
      <h3 >Xiangbo (Bill) Li</h3>
      <p> Developer &#xb7 Researcher &middot Adventurer</p>
      <a href="mailto:xiangbo.li@myresearches.org?Subject=Hello%20again" style="margin-right: auto;margin-right: auto; width: 20px" target="_top">xiangbo.li@myresearches.org</a>
    </div>

    <div class="bio-social-icon">
      <ul>
        <li>
            <a href="https://www.linkedin.com/in/xiangbo-li-2893582a" target="_blank">
              <img src="../images/linkedin_icon.png" alt="linkedin" height="40" width="40">
            </a>
        </li>
        <li style="margin-left: 20px">
          <a href="https://github.com/lxb200709?tab=repositories" target="_blank">
            <img src="../images/github-icon.png" alt="github" height="40" width="40">
          </a>
        </li>
      </ul>
    </div>
  </div>-->
</div>

