<div class="wrapper">
  <div class="main-wrapper main-wrapper-publication">
    <section class="section summary-section">
      <h2 class="section-title">Journal</h2>
      <div class="row form-group">
        <div class="col-lg-1">
            <p>2017</p>
        </div>
        <div class="col-lg-11">
            <div class="item">
              <p><span style="font-weight: bold">Xiangbo Li</span>, Yamini Joshi, Mahmoud K. Dariwich, Brad Landreneau, Mohsen Amini Salehi, Magdy Bayoumi, <span style="font-style: italic; color: dodgerblue">"Performance Analysis and Modeling of Video Transcoding Using Heterogeneous Cloud Services"</span>, Submitted to IEEE Transactions on Cloud Computing (TCC), Jan. 2017. <a href="#">(PDF)</a></p>
            </div><!--//item-->
        </div>
        <div class="col-lg-1">
          <p>2016</p>
        </div>
        <div class="col-lg-11">
          <div class="item">
            <p><span style="font-weight: bold">Xiangbo Li</span>, Mohsen Amini Salehi, Magdi Bayoumi, Nian-Feng Tzeng, Rajkumar Buyya, <span style="font-style: italic; color: dodgerblue">"Cost-Efficient and Robust On-Demand Video Transcoding Using Heterogeneous Cloud Services"</span>, Submitted to IEEE Transactions on Parallel and Distributed Systems (TPDS), August 2016. <a href="#">(PDF)</a></p>
          </div><!--//item-->
        </div>
      </div>
    </section><!--//section-->

    <div class="border-line"></div>


    <section class="section summary-section">
      <h2 class="section-title">Conference &amp; Workshop</h2>
      <div class="row form-group">
        <div class="col-lg-1">
          <p>2017</p>
        </div>
        <div class="col-lg-11">
          <div class="item">
            <p>Alaa Ali, Oladiran G. Olaleye, <span style="font-weight: bold">Xiangbo Li</span>, Magdy Bayoumi, <span style="font-style: italic; color: dodgerblue">"Fast Deep Pyramid DPM Object Detection With Region Proposal Networks"</span>, Submitted to the 30th Annual IEEE Canadian Conference on Electrical and Computer Engineering(CCECE 2017), Windsor, Ontario, Canada, April 30, 2017. <a href="#">(PDF)</a></p>
          </div><!--//item-->
        </div>
        <div class="col-lg-1">
          <p>2016</p>
        </div>
        <div class="col-lg-11">
          <div class="item">
            <p><span style="font-weight: bold">Xiangbo Li</span>, Mohsen Amini Salehi, Magdy Bayoumi, <span style="font-style: italic; color: dodgerblue">"VLSC: Video Live Streaming Based On Cloud Services"</span>, in Proceedings of the 6th IEEE International Conference on Big Data and Cloud Computing Conference (BDCloud ’16), Atlanta, GA, USA, Oct. 2016. <a href="#">(PDF)</a></p>
          </div><!--//item-->
          <div class="item">
            <p><span style="font-weight: bold">Xiangbo Li</span>, Mohsen Amini Salehi, Magdi Bayoumi, Rajkumar Buyya, <span style="font-style: italic; color: dodgerblue">"CVSS: A Cost-Efficient and QoS- Aware Video Streaming Using Cloud Services"</span>, in Proceedings of 16th ACM/IEEE International Conference on Cluster Cloud and Grid Computing (CCGrid ’16), Columbia, May 2016. <a href="#">(PDF)</a></p>
          </div><!--//item-->
          <div class="item">
            <p><span style="font-weight: bold">Xiangbo Li</span>, Mohsen Amini Salehi, Magdi Bayoumi, <span style="font-style: italic; color: dodgerblue">"High Performance Online Video Transcoding Using Cloud Services"</span>, in Proceedings of 16th ACM/IEEE International Conference on Cluster Cloud and Grid Computing (CCGrid ’16), Columbia, May 2016. <a href="#">(PDF)</a></p>
          </div><!--//item-->
          <div class="item">
            <p>Mohsen Amini Salehi, <span style="font-weight: bold">Xiangbo Li</span>, <span style="font-style: italic; color: dodgerblue">"HLSaaS: High-Level Live Video Streaming as a Service"</span>, Presented in Stream2016 workshop, Washington DC, USA, Mar. 2016. <a href="#">(PDF)</a></p>
          </div><!--//item-->
        </div>
        <div class="col-lg-1">
          <p>2015</p>
        </div>
        <div class="col-lg-11">
          <div class="item">
            <p><span style="font-weight: bold">Xiangbo Li</span>, Mohsen Amini Salehi, Magdy Bayoumi, <span style="font-style: italic; color: dodgerblue">"Cloud-Based Video Streaming for Energy- and Compute-Limited Thin Clients"</span>, Presented in Stream2015 Workshop at Indiana University, Oct. 2015. <a href="#">(PDF)</a></p>
          </div><!--//item-->
        </div>
        <div class="col-lg-1">
          <p>2014</p>
        </div>
        <div class="col-lg-11">
          <div class="item">
            <p>Tarek A. Elarabi, A. Sammoud, <span style="font-weight: bold">Xiangbo Li</span>, Magdy Bayoumi, <span style="font-style: italic; color: dodgerblue">"Hybrid Wavelet - DCT Intra Prediction for H.264/AVC Interactive Encoder"</span>, in Proceedings of the IEEE China Summit & International Conference on Signal and Information Processing (ChinaSIP), July 2014. <a href="#">(PDF)</a></p>
          </div><!--//item-->
        </div>
      </div>
    </section><!--//skills-section-->

  </div><!--//main-body-->
</div>

